@import url(global.css);

body{
    background-color: var(--background-color-principal);
    width: 100%;
    height: 100vh;
}

/* Inicio Menu*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header__menu-esquerdo{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

/* Estilização dos links */
.menu-link {
    color: var(--cor-fonte-principal);
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
}

.header__logo {
    display: flex;
    align-items: center;
}


.header__menu-direito {
    width: 35%;
    display: flex;
    justify-content: space-between;
    
}

.header__menu-direito-icones{
    display: flex;
    align-items: center;
}

.btn {
    padding: 2%;
    font-family: "Albert Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-conectar{
    border: 1px solid #000;
    color: var(--cor-fonte-principal);
    font-size: 15px;
}

.btn-cadastro {
    background-color: var(--cor-btn);
    color: var(--cor-fonte-terciaria);
    font-size: 0.93rem;
    font-weight: 500;
}

/* Inicio main */
/*Lado esquerdo*/
.conteudo__main {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.conteudo__main-esquerdo{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-saiba-mais{
    width: 150px;
    background-color: var(--cor-btn);
    color: var(--cor-fonte-terciaria);
}

/*Lado direito*/
.conteudo__main-direito{
    width: 40%;
}

.container{
    width: 90%;
    padding: 1%;
    background-color: var(--background-color-secundaria);
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}